<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>M Transfer</title>
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/mdb.min.js"></script>
	<script type="text/javascript" src="/js/toastr.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/mdb.min.css" />
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/toastr.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
</head>
<body>
	<div id="header"><%- include views/partial/navbar ; %></div><br/>
	<div class="overfloaw">
    <br/><br/>
        <% ticketCategoryMap.forEach(function(ticketCategoryInfo){ %>
            <div class="card cCard" style="width: 18rem; ">
              <img class="card-img-top" src="img/ticket/<%= ticketCategoryInfo.ticketCategoryName %>.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= ticketCategoryInfo.ticketCategoryName %></h5>
                <p class="card-text">所持 : <%= ticketCategoryInfo.ownTotal %><br/>代理 : <%= ticketCategoryInfo.approvedTotal %></p>
                <a href="'<%="http://zxing.appspot.com/scan?" + ticketCategoryInfo.zxingParam %>'" class="btn btn-primary">チケットを渡す</a>
              </div>
            </div>
        <% }) %>
    </div>
</body>
</html>