<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>M Transfer</title>
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/mdb.min.js"></script>
	<script type="text/javascript" src="/js/toastr.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/mdb.min.css" />
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/toastr.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
</head>
<body>
	<div id="header"><%- include views/partial/navbar ; %></div><br/>
	<div class="overfloaw">
    <br/><br/>
        <table class="table table-striped">
            <thead class="mdb-color indigo darken-4">
                <tr class="text-white">
                  <th>AccountNo</th>
                  <th>HolderName</th>
                  <th>Balance</th> 
                </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < accountInfoList.length; i++) {  %>
                <tr>
                    <td><%= accountInfoList[i].accountNo %></td>
                    <td><%= accountInfoList[i].accountHolderName %></td>
                    <td><%= accountInfoList[i].balance %><br/><%= accountInfoList[i].currency %></td>            
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>